html, body {
  height: 100%;
  margin: 0;
}




#header{
  width: 100%;
  height: 50px;
  background: black;
  color: red;
  font-family: menlo;
  font-size: 30px;

}

#map{
  height: 88%;
  
  margin: 0;

  z-index: 10;

}
